/*https://coolors.co/8c313e-19323c-484a47-b84a62-5c6d70*/

body, html {
    height:  100%;
    margin:  0px auto;
    padding: 0px auto;
}

p, h1, h2, h3, th, td, label{
  color: #E1E4E5;
}


#main-wrapper{
  background-color: rgba(25, 50, 60, 1);
  height:100%;
  margin-top: 25px;
}

.login-link{
  color: #E0E2DB;
  height:200px;
  width:50%;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.login-link:hover{
  color: #b84a62 !important;
}

#signin-link{
  background-image: url(../../assets/images/signup.png);
}
#login-link{
  background-image: url(../../assets/images/login.png);
}

#signin-link:hover{
  background-image: url(../../assets/images/signup-hover.png) !important;
}

#login-link:hover{
  background-image: url(../../assets/images/login-hover.png) !important;
}

.gender-w {
  background-image: url(../../assets/images/gender-w.png);
}
.gender-w:hover {
  background-image: url(../../assets/images/gender-w-hover.png) !important;
}

.pick-gender-w, .pick-gender-w:hover, .iam-gender-w, .iam-gender-w:hover{
  background-image: url(../../assets/images/gender-w-picked.png) !important;
}

.gender-d{
  background-image: url(../../assets/images/gender-d.png);
}

.gender-d:hover{
  background-image: url(../../assets/images/gender-d-hover.png) !important;
}

.pick-gender-d, .pick-gender-d:hover, .iam-gender-d, .iam-gender-d:hover{
  background-image: url(../../assets/images/gender-d-picked.png) !important;
}

.gender-m{
  background-image: url(../../assets/images/gender-m.png);
}

.gender-m:hover{
  background-image: url(../../assets/images/gender-m-hover.png) !important;
}

.pick-gender-m, .pick-gender-m:hover, .iam-gender-m, .iam-gender-m:hover{
  background-image: url(../../assets/images/gender-m-picked.png) !important;
}

.login-text{
  position: absolute;
  bottom:-20px;
  width:50%;
  text-align: center;
}

#blue-and-CFCFEA{
  background-color: rgba(25,50,60,1);
  color: #CFCFEA;
}
#blue-and-EDF0DA{
  background-color: rgba(25,50,60,1);
  color: #EDF0DA;
}
#blue-and-E0E2DB{
  background-color: rgba(25,50,60,1);
  color: #E0E2DB;
}
#light-and-CFCFEA{
  background-color: rgba(184,74,98,1);
  color: #CFCFEA;
}
#light-and-EDF0DA{
  background-color: rgba(184,74,98,1);
  color: #EDF0DA;
}
#light-and-E0E2DB{
  background-color: rgba(184,74,98,1);
  color: #E0E2DB;
}

#red-and-CFCFEA{
  background-color: rgba(139,38,53,1);
  color: #CFCFEA;
}
#red-and-EDF0DA{
  background-color: rgba(139,38,53,1);
  color: #EDF0DA;
}
#red-and-E0E2DB{
  background-color: rgba(139,38,53,1);
  color: #E0E2DB;
}
